/* Codon.io */

body {background: #f2f2f2; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;}
nav {position: fixed; height: 70px !important; z-index: 9999;}
nav > .container {margin: 3px auto;}
nav .brand-logo {color: #20AEF3 !important;}
nav ul li a {color: #20AEF3; background: #FFF;}
nav ul li:hover {background: #20AEF3;}
nav ul li:hover a:hover {color: #FFF;}
#sub_menu {top: 50px !important}
.dropdown-content {width: auto !important}
.dropdown-content li:hover {background: #20AEF3; color: #FFF !important;}
.dropdown-trigger > i {margin-left: 1px}
.sidenav-trigger {color: #20AEF3}
.login_button {margin-left: 7px}
.profile_button {height: 50px; width: 50px; margin: 0; margin-bottom: -20px; cursor: pointer;}
.profile_name {color: #555 !important; font-weight: bold; }
.profile_name:hover {color: #FFF !important}
.notification-button > i  {text-align: center !important}
.notification-badge {
    position: relative;
    top: -25px;
    right: 5px;
    margin: 0 -.8em;
    padding: 0px 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    border-radius: 50%;
    background-color: #ff4081;
    -webkit-box-shadow: 0 0 10px 0 #ff4081;
    box-shadow: 0 0 10px 0 #ff4081;
}

/* What is Codon.io? */
.welcomePart {
    height: 400px;
    width: 100%;
    background-image: url('../img/overlay.png');
    background-color: #35b8f7;
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    margin-top: -40px;
}

.inner_welcomePart {
    position: relative;
    padding-top: 90px;
    text-shadow: 0px 0px 1px #555;
    font-family: "Arial" !important;
    text-align: center;
}

/* Message-bar Part */
.message-bar {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 49px;
    margin-bottom: 30px !important;
    text-align: center;
    color: #FFF;
    padding-top: 7px;
}

/* Search part */
.search_box {
    width: 100% !important;
    height: 70px !important; 
    background: url('../img/ara.png') 97% center no-repeat #FFF !important; 
    color: #555 !important; 
    padding: 10px 25px !important;
    font-size: 22px !important;
    border: none !important;
    outline: none !important;
    box-sizing: border-box !important;
}
.search_box:focus {box-shadow: 1px 1px 20px 2px #B5B2B2 !important;}

/* Log in */
.login_form {
    background: url('../img/user.png') no-repeat 112% bottom #35B8F7;
    color: #FFF;
    cursor: default;
    padding: 70px 0 !important;
}
.login_form label {display: none;}
.modal2_title {padding-left: 10px; font: 'Roboto';}
.login_shell { width: 100%; margin: 35px auto; }

.loginelement {
    padding: 10px !important;
    background: #FFF !important;
    font-size:20px !important;
    color: #35B8F7 !important;
    border-radius: 10px !important;
    width: 54% !important;
}
 .login{
    margin-left: 10px;
    background: #35b8f7;
    color: #FFF;
    font-size: 17px;
    padding: 5px;
    height: 50px !important;
    width: 95px !important;
    border: 1px solid #FFF;
}
.login:hover {background: #FFF; color:#35b8f7}

.forgetpass, .forgetpass:hover {
    margin-left: 6px;
    background: #ffe206;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    padding-top: 6px;
    height: 50px !important;
    width: 50px !important;
}

/* index.html > register form modal */
.gender-radio {
    float: left;
    margin-right: 30px;
}

.gender-radio span {font-size: 22px !important;}

/* Blur effect */

.blur{ -webkit-filter: blur(3px); filter: blur(3px); }
h1 > i, h2 > i, h3 > i, h4 > i, h5 > i, h6 > i {vertical-align: middle;}

/* home.html > People list */
#people .card {
    float: left !important;
    margin: 15px !important;
    max-width: 200px !important;
}

#people .card-action {text-align: center !important;}
#people .card-action a {margin: 0 !important;}

.card .card-title {font-size: 20px !important;}
.card i {cursor: default}

.ask-question {cursor: pointer;}

/* Profile */
.badges {margin-top: 20px;}
.badges i {font-size: 40px !important; margin-right: 15px; cursor: default;}
#changeSkills i {cursor: pointer !important;}
#removeSkillBtn {line-height: 1.25; cursor: pointer !important;}
.chips .input {width: 180px !important}
.status-circle {
    vertical-align: bottom !important; 
    margin-left: 10px; 
    font-size: 17px !important;
}
.chip:focus {background: #20aef3;}
.autocomplete-content .dropdown-content li>a, .dropdown-content li>span {color: #d2cbcb;}

/* Chat Panel */
.chat-header{
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #35B8F7;
}
.chat-header h6 {font-size: 20px; color: #35B8F7} 
.chat_menu_buttons > i {
    font-size: 20px !important; 
    background: #f2f2f2;
    padding: 7px; 
    border-radius: 50%;
    margin-left: 3px;
}
.chat_menu_buttons > i:hover {background: #35B8F7; color: #FFF; }

.chat-container {padding: 20px 50px; min-height: 650px; max-height: 650px !important; overflow-y: scroll;}
.chat-box{
    color: #FFF;
    position: relative;
    padding: 2%;
    border-radius: 5px;
    width: auto;
    height: auto;
    max-width: 60%;
    margin-bottom: 15px;
}
.chat-box:after, .chat-box:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}
.you {background: #c6c6c6; border: 5px solid #c6c6c6; float: left; text-align: left;}
.you:after {
    right: 100%;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #c6c6c6;
    border-width: 15px;
    margin-top: -20px;
}
.person {background: #35B8F7; border: 5px solid #35B8F7; float: right; text-align: right;}
.person:before {
    left: 100%;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #35B8F7;
    border-width: 15px;
    margin-top: -20px;
}

/* Authentication Settings Gender Radio Buttons */
.gender-box div {margin-top: 20px}
.gender-box div label {margin-right: 20px;}
.gender-box label {font-size: 16px !important;}

/* Make buttons on the right side */
.btn-box {position: relative; margin-bottom: 30px !important;}
.btn-right {
    position: absolute;
    right: 10px;
    top: 5px;
}

/* Chat Page*/
.chat-window {display: none; margin-bottom: 100px;}
.request-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.btn-request {
    margin-left: 15px;
}

.message-input-box {
    margin: auto;
}

.send_message {
    float: right !important;
}