<!-- Body Main Part Begins-->
<div class="container white z-depth-4 chat-window">

    <!-- Chat panel starts -->

    <!-- Sub-menu -->
    <ul id="chat_menu" class="dropdown-content">
        <li><a href="#" class="profile_name">Menu</a></li>
        <li class="divider"></li>
        <li><a href="#">Item1</a></li>
        <li><a href="#">Item2</a></li>
    </ul>

    <div class="row chat-header" id="chat-header">
        <div class="col s2 m2 l1"><a href="" class="questioner_links" target="_blank"><img id="chat_avatar" class="circle z-depth-2 responsive-img" src=""></a></div>
        <div class="col s7 m7 l9"><a href="" class="questioner_links" target="_blank"><h6 id="questioner"></h6></a></div>
        <div class="col s3 m3 l2">
            <a class="chat_menu_buttons modal-trigger hide" href="#end_conversation_modal" id="end_conversation_btn"><i class="material-icons">call_end</i></a>
            <a class="chat_menu_buttons" id="change_color_theme"><i class="material-icons">brightness_6</i></a>
            <a class="chat_menu_buttons" href="#abuse"><i class="material-icons">feedback</i></a>
            <a class="dropdown-trigger chat_menu_buttons" href="#!" data-target="chat_menu"><i class="material-icons">more_vert</i></a>
        </div>
        <div id="chat_about" class="col s7 m7 l8"></div>
    </div>

    <!-- Warning - End the Conversation -->
    <div id="end_conversation_modal" class="modal">
        <div class="modal-content">
            <h5>Are you sure to end the conversation?</h5>
        </div>
        <div class="modal-footer">
            <a id="end_conversation" class="modal-close waves-effect waves-green btn-flat">Yes</a>
            <a id="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
        </div>
    </div>

    <div id="chat_question" class="chat_question"></div>

    <div class="row chat-container">
        <div class="chat_notification hide"></div>
    </div>
    
    <div class="row">
        <div class="container">
            <div class="col s12">
                <div class="input-field col s11 message-input-box">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="message_input" class="materialize-textarea"></textarea>
                    <label for="message_input">Type your message</label>
                </div>
                <div class="col s1">
                    <a id="send_message" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">send</i></a>
                </div>
            </div>
        </div>
    </div>

<br>
</div> <!-- ends for container -->

<!-- Abuse Modal -->
<div id="abuse_modal" class="modal">
    <div class="modal-content">
        <h4>Report Abuse</h4>
        <p>The detailed text about that function and its consequences.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" id="report_abuse_btn" class="modal-close waves-effect waves-black red white-text btn-flat">Report Abuse</a>
        <a href="#!" class="modal-close waves-effect waves-green blue white-text btn-flat">Cancel</a>
    </div>
</div>