<!-- Feedback Modal -->
<div id="feedback_modal" class="modal">
    <div class="modal-content">
        <h4>Give us a feedback</h4>
        <h6>Your feedback is important for us to improve our application.</h6>
    </div>
    <div class="modal-content feedback-box">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="feedback" class="materialize-textarea" data-length="120"></textarea>
                        <label for="feedback">Type your feedback</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a id="send_feedback" class="modal-close waves-effect waves-green blue white-text btn-flat">Send</a>
        <a class="modal-close waves-effect waves-black red white-text btn-flat">Close</a>
    </div>
</div>

<!-- Feedback Thanks Modal -->
<div id="feedback_thanks_modal" class="modal">
    <div class="modal-content">
        <h4>Thank you!</h4>
        <h6>We will soon evaluate your feedback.</h6>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-black red white-text btn-flat">Close</a>
    </div>
</div>