<!-- codon.io Menu Begins -->

<!-- Sub-menu -->
<ul id="sub_menu" class="dropdown-content">
    {% if session.logged_in %}
        <li><a href="#" id="profile_name" class="profile_name">{{ session['username'] }}</a></li>
        <li class="divider"></li>
        <li><a href="../profile/{{ session['username'] }}">Profile</a></li>
        <li><a href="{{ url_for('settings') }}">Settings</a></li>
        <li id="logout"><a href="{{ url_for('logout') }}">Log out</a></li>
    {% else %}
        <li><a href="#!">Free and Realtime</a></li>
        <li><a href="#!">Open-source</a></li>
        <li class="divider"></li>
        <li><a href="#!">QA Platform</a></li>
    {% endif %}
</ul>

<!-- Fixed Header Menu -->
<nav class="white lighten-1">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">codon.io</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        {% if session.logged_in %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a class="waves-effect waves-block waves-light notification-button" href="#"><i class="material-icons">notifications_none<small class="notification-badge">5</small></i></a>
            <li><a class="dropdown-trigger" href="#!" data-target="sub_menu">
                <img class="profile_button" src="{{ session['avatar_link'] }}"><i class="material-icons right">arrow_drop_down</i></a>
            </li>
        {% else %}
            <li><a class="dropdown-trigger" href="#!" data-target="sub_menu">What is codon.io?<i class="material-icons right">arrow_drop_down</i></a></li>
            <a href="{{ url_for('login') }}" class="waves-effect waves-light blue white-text login_button btn">Log in</a>
        {% endif %}
    </ul>
    </div>
</nav>

<!-- Mobil Menu -->
<ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('login') }}">Log in</a></li>
</ul>
<br>