<!-- Register Form Modal -->
<div id="register-form-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="login_shell">
            <div class="row">
            <form class="col s12">
                <h5 class="modal2_title">Register</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" placeholder="Username" class="validate loginelement">
                    </div>

                    <div class="input-field col s12">
                        <input id="email" name="email" type="text" placeholder="Email" class="validate loginelement">
                    </div>

                    <div class="col s12">
                        <form action="#">
                            <p class="gender-radio">
                                <label>
                                <input name="group1" type="radio" />
                                <span class="white-text">Female</span>
                                </label>
                            </p>
                            <p class="gender-radio">
                                <label>
                                <input name="group1" type="radio" />
                                <span class="white-text">Male</span>
                                </label>
                            </p>
                        </form>
                    </div>

                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" placeholder="Password" class="validate loginelement">
                    </div>
                </div>
                <a class="waves-effect waves-light btn login">sign up</a>

            </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-light btn secondary-content red">Close</a>
    </div>
</div>