{% extends 'layout.html' %}

{% block content %}

    <!-- Body Main Part Begins-->
    <div class="container white z-depth-4">

        <!-- Chat panel starts -->

        <!-- Sub-menu -->
        <ul id="chat_menu" class="dropdown-content">
            <li><a href="#" class="profile_name">Menu</a></li>
            <li class="divider"></li>
            <li><a href="#">Item1</a></li>
            <li><a href="#">Item2</a></li>
        </ul>

        <div class="row chat-header">
            <div class="col s2 m2 l1"><a href="profile" target="_blank"><img class="circle z-depth-2 responsive-img" src="{{ url_for('static', filename='files/img/furkan.jpg') }}"></a></div>
            <div class="col s7 m7 l9"><a href="profile" target="_blank"><h6>Furkan Torun</h6></a></div>
            <div class="col s3 m3 l2">
                <a class="chat_menu_buttons" href="#change_color_theme"><i class="material-icons">brightness_6</i></a>
                <a class="chat_menu_buttons" href="#abuse"><i class="material-icons">feedback</i></a>
                <a class="dropdown-trigger chat_menu_buttons" href="#!" data-target="chat_menu"><i class="material-icons">more_vert</i></a>
            </div>
            <div class="col s7 m7 l8">let's dive into dreams and bring them to life</div>
        </div>

        <div class="row chat-container">

            <div id="chatblock" class="row">
                <div class="col s2 m2 l1"><img class="circle responsive-img" src="{{ url_for('static', filename='files/img/furkan2.png') }}" alt="Furkan Torun"></div>
                <div class="col s10 m10 l11"><div class="chat-box you">whats'up dudeeee ??</div></div>
            </div>
           
            <div id="chatblock" class="row">
                <div class="col s10 m10 l11"><div class="chat-box person">fine wht abot you :p </div></div>
                <div class="col s2 m2 l1"><img class="circle responsive-img" src="{{ url_for('static', filename='files/img/furkan.jpg') }}"" alt="Furkan Torun"></div>
            </div>

            <div id="chatblock" class="row">
                <div class="col s2 m2 l1"><img class="circle responsive-img" src="{{ url_for('static', filename='files/img/furkan2.png') }}" alt="Furkan Torun"></div>
                <div class="col s10 m10 l11"><div class="chat-box you">my question is about flask. I couldnt retrieve data from mysql into my table? i guess there is a problem my connection ?</div></div>
            </div>

            <div id="chatblock" class="row">
                <div class="col s10 m10 l11"><div class="chat-box person">ok, le me see your code </div></div>
                <div class="col s2 m2 l1"><img class="circle responsive-img" src="{{ url_for('static', filename='files/img/furkan.jpg') }}"" alt="Furkan Torun"></div>
             </div>

        </div>
        

    <br>
    </div> <!-- ends for container -->
    <br><br>

{% endblock %}
