{% extends 'layout.html' %}

{% block content %}

<div class="login_form container">
    <div class="container">
        <div class="row">
            <h5 class="modal2_title">Forgot Password</h5>
            <p>Please enter your email adress and we will send the required information.</p>
            <form action="" method="POST">
                {{ form.hidden_tag() }} <!-- its related to secret key and protection-->
                <div class="row">

                    <div class="input-field col s12">
                        {% if form.email.errors %}
                            {{ form.email(class="validate loginelement", placeholder="E-mail") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="validate loginelement", placeholder="E-mail") }}
                        {% endif %}
                    </div>

                </div>
                <input class="btn login" id="submit" name="submit" type="submit" value="SEND">
            </form>
        </div>
    </div>
</div>
<br><br><br>
    
{% endblock %}
