{% extends 'layout.html' %}

{% block content %}

    <!-- Body Main Part Begins-->
    <div class="container">
        <!-- Search part begins -->
        <div>
            <form id="searchCoders"> 
                <input class="search_box autocomplete" id="skill-search" name="search" type="text" placeholder="What is your question?" maxlength="140" required> 
                <div id="addingSkill" class="chips chips-autocomplete"></div>
                <button class="waves-effect waves-light btn green white-text" type="submit">search coders</button>
            </form>
        </div>

        <!-- Coders are listed here -->
        <div id="people" class="col s12 m12 l12">
            <div class="people-container"></div>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}
