{% extends 'layout.html' %}

{% block content %}

    <!-- Body Main Part Begins-->
    <div class="container">
        <!-- Search part begins -->
        <form action="" method="POST"> 
            <input class="search_box autocomplete" id="lang-search" name="search" type="text" placeholder="Type your favorite language" maxlength="30" required=""> 
        </form>

        <!-- codon.io Middle segment begins -->
        <div id="people" class="col s12 m12 l12">
            <h5 class="header"><i class="material-icons">code</i> who code in {{searchTerms}}</h5>

            <!-- people card -->
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="files/img/furkan.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Furkan Torun<i class="material-icons right">more_vert</i></span>

                    <div class="stars">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star</i>
                    </div>

                    <p><a href="profile.html">Show profile</a></p>
                </div>

                <div class="card-action">
                    <a href="#" class="blue-text">ask a question</a>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Furkan's Bio<i class="material-icons right">close</i></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

            <!-- people card -->
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="files/img/furkan.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Furkan Torun<i class="material-icons right">more_vert</i></span>

                    <div class="stars">
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons" style="color: orange">star</i>
                        <i class="material-icons">star</i>
                    </div>

                    <p><a href="profile.html">Show profile</a></p>
                </div>

                <div class="card-action">
                    <a href="#" class="blue-text">ask a question</a>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Furkan's Bio<i class="material-icons right">close</i></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        
        </div> <!-- ends for people list -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div> <!-- ends for container -->

{% endblock %}
