{% extends 'layout.html' %}

{% block content %}

    <!-- What is codon.io ? -->
    <div class="welcomePart">
        <div class="row inner_welcomePart center"><br>
            <div class="col s12"><h4>Use <b>codon.io</b> and does not remain a question in your mind! </h4></div>
            <div class="col s12"><h6>Here, some motto. Heylksdfsdklfjsdklfjdsklfjsdklfjlk<br> veniam quibusdam legam. Ita illum eu tractavissent 
                an voluptate do voluptate quem varias ubi elit. <br> Hemen şuraya da bir kayıt butonu koyalım</h6></div>
            <div class="col s12"><br>
                <a class="waves-effect waves-light btn blue lighten-2"><i class="material-icons left">perm_identity</i>Register</a>
            </div>
        </div>
    </div><br>

    <!-- codon.io Middle segment begins -->
    <div>
        <hr>
        <h1 class="center">Benden bu kadar hacılar!</h1>
        <h2 class="center">Geri kalanı halleşelim.</h2>
        <h3 class="center">Frontend i bitirelim</h3>
        <h4 class="center">Ya Sonra?</h4>
        <h5 class="center">| DANS |</h5>
        <h6 class="center">ve renk!</h6>
        <br><hr><br>
    </div>

{% endblock %}
