{% extends 'layout.html' %}

{% block content %}

    <!-- What is codon.io ? -->
    <div class="welcomePart">
        <div class="row inner_welcomePart center">
            <div class="col s12"><h4>Use <b>codon.io</b> and does not remain a question in your mind! </h4></div>
            <div class="col s12"><h6>Here, some motto. Heylksdfsdklfjsdklfjdsklfjsdklfjlk<br> veniam quibusdam legam. Ita illum eu tractavissent 
                an voluptate do voluptate quem varias ubi elit.</h6></div>
            <div class="col s12"><br>
                <a class="waves-effect waves-light btn blue lighten-2" data-target="register-form-modal"><i class="material-icons left">perm_identity</i>Register</a>
            </div>
        </div>
    </div><br>

    <!-- codon.io Middle segment begins -->
    <div>
        <hr>
        <br>
        <h3 class="center">Codon.io is a real time Q&A platform designed for coders.</h3>
        <br>
        <h6 class="center">This platform is designed to enable those who are interested in solving programming challenges to help coders in need of immediate assistance.</h6>
        <br>
        <h5 class="center">Do not let a single code line make you crazy!</h5>
        <br><br><hr><br>
    </div>

{% endblock %}
