{% extends 'layout.html' %}

{% block content %}

<div class="login_form container">
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <h5 class="modal2_title">Log in</h5>
            <form action="" method="POST">
                {{ form.hidden_tag() }} <!-- its related to secret key and protection-->
                <div class="row">

                    <div class="input-field col s12">
                        {% if form.username.errors %}
                            {{ form.username(class="validate loginelement", placeholder="Username") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="validate loginelement", placeholder="Username") }}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {% if form.password.errors %}
                        {{ form.password(class="validate loginelement", placeholder="Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.password(class="validate loginelement", placeholder="Password") }}
                        {% endif %}
                    </div>
                </div>
                <input class="btn login" id="submit" name="submit" type="submit" value="Login">
                
                <a class="btn-floating btn waves-effect waves-light forgetpass tooltipped" data-position="right" data-delay="5" data-tooltip="Forget my password?"><i class="material-icons">lock_outline</i></a>
            </form>
        </div>
    </div>
    <br><br><br>
</div>
<br><br><br><br><br><br>
    
{% endblock %}
