{% extends 'layout.html' %}

{% block content %}

    <!-- profile.html main content -->
    <div class="container">
        <div class="row">
            <div class="col s3">
                <!-- people card -->
                <div class="card">
                    <div class="card-image">
                        <img src="{{ profile_info.avatar_link }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title valign-wrapper">@{{ profile_info.username }}
                            <i class="material-icons green-text accent-4 valign-wrapper status-circle tooltipped" data-position="right" data-tooltip="Available Now !">brightness_1</i>
                            <br>{{ profile_info.name }} 
                        </span>
                        <div class="stars">
                            <i class="material-icons orange-text">star</i>
                            <i class="material-icons orange-text">star</i>
                            <i class="material-icons orange-text">star</i>
                            <i class="material-icons orange-text">star</i>
                            <i class="material-icons">star</i>
                        </div>
                        <p>{{profile_info.about}}</p>
                    </div>
                </div>
                
                {% if session["username"] == profile_info.username %}
                <a class="waves-effect blue btn" href="{{ url_for('settings') }}"><i class="material-icons left">edit</i>Edit profile</a>
                {% endif %}
                
            </div>
            
            <div class="col s9">
                
                <div class="card blue">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width tabs-transparent">
                            <li class="tab"><a class="active" href="#card1">Interests</a></li>
                            <li class="tab"><a class="active" href="#card2">Progress</a></li>
                            <li class="tab"><a class="" href="#card3">Activity</a></li>
                        </ul>
                    </div>
                    <div class="card-content white">
                        <div id="card1">
                            <b>Here is the list of the programming languages and libraries that 
                                <i>{{ profile_info.name if profile_info.name else profile_info.username }}</i> is interested in:</b>
                            <br><br>
                            {% if skills_info %}
                                {% for skill_info in skills_info %}
                                <a href="#{{ skill_info.skill_name }}"><div class="chip"><img src="{{ skill_info.skill_logo }}" alt="{{ skill_info.skill_name }}">{{ skill_info.skill_name }}</div></a>
                                {% endfor %}
                                {% if session["username"] == profile_info.username %}
                                    <!-- Adding New Skills -->
                                    <a href="#" id="changeSkills" class="btn btn-floating blue white-text tooltipped" data-position="right" data-tooltip="Add new skills"><i class="material-icons">add</i></a>
                                    <div id="addingSkill" class="chips chips-autocomplete hide"></div>
                                    <form class="" action="" method="POST">
                                        {{ skillsForm.hidden_tag() }}
                                        {% if skillsForm.skills_input.errors %}
                                            {{ skillsForm.skills_input(class="validate hide", type="text", id="skills_input") }}
                                            {% for error in skillsForm.skills_input.errors %}
                                                <span class="helper-text">{{ error }}</span>
                                            {% endfor %}
                                        {% else %}
                                            {{ skillsForm.skills_input(class="validate hide", type="text", id="skills_input") }}
                                        {% endif %}
                                        <button id="updateSkillsBtn" class="waves-effect waves-light btn green white-text hide" type="submit">Update Your Skills</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                Not declared yet :( We are looking forward to see them!
                            {% endif %}

                        </div>
                        <div id="card2" class="row">
                            <div class="center col s4">
                                <h3 class="green-text accent-3">95</h3>
                                <h6 class="grey-text">Answers</h6>
                            </div>
                            <div class=" center col s4">
                                <h3 class="amber-text">38</h3>
                                <h6 class="grey-text">Questions</h6>
                            </div>
                            <div class="center col s4">
                                <h3 class="light-blue-text accent-4">133</h3>
                                <h6 class="grey-text">Total Conversations</h6>
                            </div>
                        </div>
                        <div id="card3">We may illustrate some statistics on graph here.</div>
                    </div>
                </div>

                
                <div class="row">
                    <div class="col s12">
                    <div class="card grey lighten-1">
                        <div class="card-content">
                        <span class="card-title white-text">Badges</span>
                        <div class="badges white-text">
                            <i class="material-icons">blur_circular</i> 
                            <i class="material-icons">brightness_high</i> 
                            <i class="material-icons">child_friendly</i> 
                            <i class="material-icons">clear_all</i> 
                            <i class="material-icons">collections_bookmark</i> 
                            <i class="material-icons">content_cut</i> 
                            <i class="material-icons">color_lens</i> 
                            <i class="material-icons">blur_circular</i> 
                            <i class="material-icons">brightness_high</i> 
                            <i class="material-icons">child_friendly</i> 
                            <i class="material-icons">clear_all</i> 
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <br><br><br><br><br><br><br>

{% endblock %}
