{% extends 'layout.html' %}

{% block content %}

    <h1>winners of the week</h1>
    <table class="center">
        <tr>
            <td>id</td>
            <td>score</td>
        </tr>
        {% for get in winners_of_the_week %}
        <tr>
            <td>{{ get.user_id }}</td>
            <td>{{ get.score }}</td>
        </tr>
        {% endfor %}
    </table>

    <hr>

    <h1>winners of the month</h1>
    <table class="center">
        <tr>
            <td>id</td>
            <td>score</td>
        </tr>
        {% for get in winners_of_the_month %}
        <tr>
            <td>{{ get.user_id }}</td>
            <td>{{ get.score }}</td>
        </tr>
        {% endfor %}
    </table>

    <br><br><br>


{% endblock content %}
