{% extends 'layout.html' %}

{% block content %}

    <!-- Body Main Part Begins-->
    <div class="container">

        <!-- Settings page starts -->
        <h5><i class="material-icons">settings</i> Config your settings</h5><br>

         <!-- Account Settings -->
         <div class="row">
                <div class="col s12 m4">
                    <h5 class="light">Account Settings</h5>
                    <p><i>It is about your account on codon.io</i></p>
                </div>
                <div class="col s12 m7">
                    <ul class="collapsible">
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">edit</i>Edit your profile</div>
                        <div class="collapsible-body">
                            <!-- Settings form begins -->
                            <div class="row">
                                <form class="col s12" method="POST">
                                    {{ profileForm.hidden_tag() }} <!-- its related to secret key and protection-->
                                    <div class="row">
                                        <div class="input-field col s12">                                         
                                            {% if profileForm.name.errors %}
                                                {{ profileForm.name(class="validate", value=profile_info.name, id="name") }}
                                                {% for error in profileForm.name.errors %}
                                                    <span class="helper-text">{{ error }}</span>
                                                {% endfor %}
                                            {% else %}
                                                {{ profileForm.name(class="validate", value=profile_info.name, id="name") }}
                                                <label for="name">Name</label>                                            
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">                                         
                                            {% if profileForm.about.errors %}
                                                <textarea id="about" name="about" class="materialize-textarea">{{ profile_info.about }}</textarea>
                                                {% for error in profileForm.about.errors %}
                                                    <span class="helper-text">{{ error }}</span>
                                                {% endfor %}
                                            {% else %}
                                                <textarea id="about" name="about" class="materialize-textarea">{{ profile_info.about }}</textarea>
                                                <label for="about">About me</label>                                            
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">                                         
                                            {% if profileForm.avatar_link.errors %}
                                                {{ profileForm.avatar_link(class="validate", value=profile_info.avatar_link, id="avatar") }}
                                                {% for error in profileForm.avatar_link.errors %}
                                                    <span class="helper-text">{{ error }}</span>
                                                {% endfor %}
                                            {% else %}
                                                {{ profileForm.avatar_link(class="validate", value=profile_info.avatar_link, id="avatar") }}
                                                <label for="avatar">Avatar Link</label>
                                                <span class="helper-text">You avatar will be updated after you log out</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 gender-box">
                                            <label>Gender</label>
                                            <div>
                                                <label>
                                                    {% if profile_info.gender == 'Female' %}
                                                        <input id="gender-0" name="gender" type="radio" value="Female" checked/>
                                                    {% else %}
                                                        <input id="gender-0" name="gender" type="radio" value="Female"/>
                                                    {% endif %}
                                                    <span>Female</span>
                                                </label>
                                                <label>
                                                    {% if profile_info.gender == 'Male' %}
                                                        <input id="gender-1" name="gender" type="radio" value="Male" checked/>
                                                    {% else %}
                                                        <input id="gender-1" name="gender" type="radio" value="Male"/>
                                                    {% endif %}
                                                    <span>Male</span>
                                                </label>
                                                <label>
                                                    {% if profile_info.gender == 'Do not prefer to say' %}
                                                        <input id="gender-3" name="gender" type="radio" value="Do not prefer to say" checked/>
                                                    {% else %}
                                                        <input id="gender-3" name="gender" type="radio" value="Do not prefer to say"/>
                                                    {% endif %}
                                                    <span>Do not prefer to say</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-box">
                                        <button class="waves-effect waves-light btn btn-right" type="submit">Update</button>
                                    </div>    
                                </form>
                            </div>
                            <!-- Settings form ends -->
                        </div>

                    </li>
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">person_pin</i>Authentication settings</div>
                        <div class="collapsible-body">
                            <!-- Authentication form begins -->
                            <div class="row">
                                <form class="col s12" action="" method="POST">
                                    {{ changePasswordForm.hidden_tag() }} <!-- its related to secret key and protection-->
                                    <div class="row">
                                        <div class="input-field col s12">
                                            {% if changePasswordForm.old_password.errors %}
                                                {{ changePasswordForm.old_password(class="validate", type="password", id="old_password") }}
                                                {% for error in changePasswordForm.old_password.errors %}
                                                    <span class="helper-text">{{ error }}</span>
                                                {% endfor %}
                                            {% else %}
                                                {{ changePasswordForm.old_password(class="validate", type="password", id="old_password") }}
                                            {% endif %}
                                            <label for="old_password">Old Password</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            {% if changePasswordForm.password.errors %}
                                                {{ changePasswordForm.password(class="validate", type="password", id="new_password") }}
                                                {% for error in changePasswordForm.password.errors %}
                                                    <span class="helper-text">{{ error }}</span>
                                                {% endfor %}
                                            {% else %}
                                                {{ changePasswordForm.password(class="validate", type="password", id="new_password") }}
                                            {% endif %}
                                            <label for="new_password">Password</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            {% if changePasswordForm.confirm_password.errors %}
                                                {{ changePasswordForm.confirm_password(class="validate", type="password", id="confirm_password") }}
                                                {% for error in changePasswordForm.confirm_password.errors %}
                                                    <span class="helper-text">{{ error }}</span>
                                                {% endfor %}
                                            {% else %}
                                                {{ changePasswordForm.confirm_password(class="validate", type="password", id="confirm_password") }}
                                            {% endif %}
                                            <label for="confirm_password">Confirm New Password</label>
                                        </div>
                                    </div>                  
                                    <div class="btn-box">
                                        <button class="waves-effect waves-light btn btn-right" type="submit">Update</button>
                                    </div>   
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">history</i>Last logins</div>
                        <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header red white-text" tabindex="0">
                        <i class="material-icons">delete_forever</i>Delete my account</div>
                        <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.</span>
                        </div>
                    </li>
                    </ul>
                </div>
        </div>

        <!-- Privacy Settings -->
        <div class="row">
            <div class="col s12 m4">
                <h5 class="light">Privacy Settings</h5>
                <p><i>It is about your privacy on codon.io</i></p>
            </div>
            <div class="col s12 m7">
                <ul class="collapsible">
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">search</i>Enabling to search my account</div>
                        <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. </span>
                        </div>
                    </li>
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">fingerprint</i>Displaying my profile for all</div>
                        <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    <br><br>
    </div> <!-- ends for container -->

{% endblock %}
