<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="codon.io">
    <meta name="author" content="codon.io">
    <meta name="copyright" content= "codon.io">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="shortcut icon" type="image/x-icon" href="files/img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="files/css/materialize.min.css"  media="screen"/>
    <link rel="stylesheet" type="text/css" href="files/css/css.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>codon.io</title>
</head>
<body>

    <!-- codon.io Menu Begins -->
    <!-- Sub-menu -->
    <ul id="sub_menu" class="dropdown-content">
        <li><a href="#" class="profile_name">Furkan</a></li>
        <li class="divider"></li>
        <li><a href="#Profile">Profile</a></li>
        <li><a href="#Settings">Settings</a></li>
        <li><a href="#Logout">Log out</a></li>
    </ul>
    <!-- Fixed Header Menu -->
    <nav class="white lighten-1">
        <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">codon.io</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="sub_menu">
                <img class="profile_button" src="files/img/furkan.jpg"><i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        </div>
    </nav>
    <!-- Mobil Menu -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <br>

    <!-- IDK (Maybe motivation or announcenements) Part begins ? -->
    <div class="idk">
        <span class="flow-text"> Good evening! You seem that you did not ask any question in last <b>3</b> days.</span>
    </div><br> 

    <!-- Body Main Part Begins-->
    <div class="container">

        <!-- Settings page starts -->
        <h5 class="header"><i class="material-icons">settings</i> Config your settings</h5><br>
        <!-- Privacy Settings -->
        <div class="row">
            <div class="col s12 m4">
                <h5 class="light">Privacy Settings</h5>
                <p><i>It is about your privacy on codon.io</i></p>
            </div>
            <div class="col s12 m7">
                <ul class="collapsible">
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">search</i>Enabling to search my account</div>
                        <div class="collapsible-body" style="">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. </span>
                        </div>
                    </li>
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">fingerprint</i>Displaying my profile for all</div>
                        <div class="collapsible-body" style="">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Account Settings -->
        <div class="row">
            <div class="col s12 m4">
                <h5 class="light">Account Settings</h5>
                <p><i>It is about your account on codon.io</i></p>
            </div>
            <div class="col s12 m7">
                <ul class="collapsible">
                <li class="">
                    <div class="collapsible-header" tabindex="0">
                    <i class="material-icons">person_pin</i>Authentication settings</div>
                    <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </span>
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header" tabindex="0">
                    <i class="material-icons">history</i>Last logins</div>
                    <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header red white-text" tabindex="0">
                    <i class="material-icons">delete_forever</i>Delete my account</div>
                    <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.</span>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    
    <br><br>
    </div> <!-- ends for container -->

    <!-- codon.io Footer begins -->
    <footer class="page-footer blue">
        <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">codon.io!</h5>
            <p class="grey-text text-lighten-4"> I am just tired! </p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Get in touch with us</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#Furki">Furki</a></li>
                <li><a class="grey-text text-lighten-3" href="#Emrah">Emrah</a></li>
                <li><a class="grey-text text-lighten-3" href="#Bilal">Bilal</a></li>
                <li><a class="grey-text text-lighten-3" href="#Site">codon.io</a></li>
            </ul>
        </div>
        </div>
        </div>
        <div class="footer-copyright">
            <div class="container"> 
                made with brain! 
                <button data-target="modal1" class="waves-effect waves-light blue right btn modal-trigger">Privacy and Policy</button>
            </div>
        </div>
    </footer>
    
    <!-- codon.io Kullanıcı Sözleşme Modal -->
    <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Privacy and Policy</h4>
        <p>If you read means that you have already confirm that list.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-light btn secondary-content blue">OK</a>
    </div>
    </div>
    
    <!-- codon.io Log in Modal -->
    <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="login_shell">
            <div class="row">
            <form class="col s12">
                <h5 class="modal2_title">Log in</h5>
                <div class="row"><div class="input-field col s12">
                    <input id="username" name="username" type="text" placeholder="Username" class="validate loginelement">
                </div>
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" placeholder="Password" class="validate loginelement">
                </div></div>
                <a class="waves-effect waves-light btn login">Log in</a>
                <a class="btn-floating btn waves-effect waves-light forgetpass tooltipped" data-position="right" 
                    data-delay="5" data-tooltip="Forget my password?"><i class="material-icons">lock_outline</i></a>
            </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-light btn secondary-content red">Close</a>
    </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="files/js/materialize.min.js"></script>
    <script type="text/javascript" src="files/js/js.js"></script>
    <script>$('.collapsible').collapsible();</script>
</body>
</html>