{% extends 'layout.html' %}

{% block content %}

    <!-- Body Main Part Begins-->
    <div class="container">

        <!-- Settings page starts -->
        <h5><i class="material-icons">settings</i> Config your settings</h5><br>

         <!-- Account Settings -->
         <div class="row">
                <div class="col s12 m4">
                    <h5 class="light">Account Settings</h5>
                    <p><i>It is about your account on codon.io</i></p>
                </div>
                <div class="col s12 m7">
                    <ul class="collapsible">
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">edit</i>Edit your profile</div>
                        <div class="collapsible-body">
                            <!-- Settings form begins -->
                            <form action="" method="POST">
                                {{ profileForm.hidden_tag() }} <!-- its related to secret key and protection-->
                                <div class="row">
                
                                    <div class="input-field col s12">
                                        {% if profileForm.name.errors %}
                                            {{ profileForm.name(class="validate", placeholder="Name") }}
                                            <div class="invalid-feedback">
                                                {% for error in profileForm.name.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ profileForm.name(class="validate", placeholder="Name") }}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12">
                                        {% if profileForm.about.errors %}
                                            {{ profileForm.about(class="validate materialize-textarea", placeholder="About me") }}
                                            <div class="invalid-feedback">  
                                                {% for error in profileForm.about.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ profileForm.about(class="validate materialize-textarea", placeholder="About me") }}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12">
                                        {% if profileForm.avatar_link.errors %}
                                            {{ profileForm.avatar_link(class="validate", placeholder="Avatar link") }}
                                            <div class="invalid-feedback">  
                                                {% for error in profileForm.avatar_link.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ profileForm.avatar_link(class="validate", placeholder="Avatar link") }}
                                        {% endif %}
                                    </div>

                                    <div class="col s12 gender-box">
                                        <label>Gender</label>
                                        <div>
                                            <label>
                                                <input id="gender-0" name="gender" type="radio" value="Female" required/>
                                                <span>Female</span>
                                            </label>
                                            <label>
                                                <input id="gender-1" name="gender" type="radio" value="Male" required/>
                                                <span>Male</span>
                                            </label>
                                            <label>
                                                <input id="gender-3" name="gender" type="radio" value="Do not prefer to say" required/>
                                                <span>Do not prefer to say</span>
                                            </label>
                                        </div>
                                    </div>
                                                        
                                </div>
                                <input class="btn login" id="submit" name="submit" type="submit" value="Update">
                            </form>
                            <!-- Settings form ends -->
                        </div>

                      

                    </li>
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">person_pin</i>Authentication settings</div>
                        <div class="collapsible-body">
                            <!-- Authentication form begins -->
                            <form action="" method="POST">
                                {{ changePasswordForm.hidden_tag() }} <!-- its related to secret key and protection-->
                                <div class="row">
                
                                    <div class="input-field col s12">
                                        {% if changePasswordForm.old_password.errors %}
                                            {{ changePasswordForm.old_password(class="validate", placeholder="Old Password") }}
                                            <div class="invalid-feedback">
                                                {% for error in changePasswordForm.old_password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ changePasswordForm.old_password(class="validate", placeholder="Old Password") }}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12">
                                        {% if changePasswordForm.password.errors %}
                                            {{ changePasswordForm.password(class="validate", placeholder="New Password") }}
                                            <div class="invalid-feedback">
                                                {% for error in changePasswordForm.password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ changePasswordForm.password(class="validate", placeholder="New Password") }}
                                        {% endif %}
                                    </div>

                                    <div class="input-field col s12">
                                        {% if changePasswordForm.confirm_password.errors %}
                                            {{ changePasswordForm.confirm_password(class="validate", placeholder="Confirm New Password") }}
                                            <div class="invalid-feedback">
                                                {% for error in changePasswordForm.confirm_password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ changePasswordForm.confirm_password(class="validate", placeholder="Confirm New Password") }}
                                        {% endif %}
                                    </div>
                                                        
                                </div>
                                <input class="btn login" id="submit" name="submit" type="submit" value="Update">
                            </form>
                        </div>
                    </li>
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">history</i>Last logins</div>
                        <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header red white-text" tabindex="0">
                        <i class="material-icons">delete_forever</i>Delete my account</div>
                        <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.</span>
                        </div>
                    </li>
                    </ul>
                </div>
        </div>

        <!-- Privacy Settings -->
        <div class="row">
            <div class="col s12 m4">
                <h5 class="light">Privacy Settings</h5>
                <p><i>It is about your privacy on codon.io</i></p>
            </div>
            <div class="col s12 m7">
                <ul class="collapsible">
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">search</i>Enabling to search my account</div>
                        <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. </span>
                        </div>
                    </li>
                    <li class="">
                        <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">fingerprint</i>Displaying my profile for all</div>
                        <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    <br><br>
    </div> <!-- ends for container -->

{% endblock %}
